*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

$colorBlack:#100E0E;
$colorBlue:#0071E4;
$colorSilverDark:#706E6E;
$colorSilver: #878787;
$colorWhite: #FFFFFF;

