#bottomShoppingSection {
    padding: 32px 0;
     .container {
    h1 {
      font-weight: 500;
      font-size: 48px;
      line-height: 57px;
      color: $colorBlack;
      text-align: center;
      margin-bottom: 49px;
    }
    p {
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: $colorBlue;
    }
    .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 24px;
      .col {
        width: calc(25% - 12px);
        padding: 16px 8px 24px 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
        margin-bottom: 24px;
      
        .starBox {
          display: flex;
          align-items: center;
          margin-bottom: 16px;
          p {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: $colorBlue;
            margin-right: 27px;
            margin-left: 8px;
          }
          img {
            width: 24px;
            height: 24px;
            &:nth-child(8) {
              margin-left: 8px;
            }
          }
        }
        h2 {
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          color: $colorBlack;
        }
        img {
          width: 266px;
          height: 288px;
        }
        .flexTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 16px;
          .rounded {
            width: 16px;
            height: 16px;
            background-color: #52d116;
            border-radius: 50%;
          }
          p {
            font-size: 14px;
            line-height: 19px;
            color: #706e6e;
          }
        }
        .flexBtn {
          display: none;
        }
        h6 {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          color: #878787;
        }
        h3 {
          span {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-decoration-line: line-through;
            color: #878787;
            margin-right: 13px;
          }
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          margin-top: 4px;
        }
        button {
          padding: 16px 70px;
          color: $colorWhite;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          background: $colorBlue;
          border-radius: 8px;
          border: none;
          margin-top: 16px;
          cursor: pointer;
          &:hover {
            opacity: 0.7;
          }
          img {
            width: 24px;
            height: 24px;
            margin-right: 8px;
          }
        }
        .flexTitle {
          p {
            &:nth-child(1) {
              color: $colorBlue;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #bottomShoppingSection {
    .container {
      h1 {
        font-size: 40px;
        line-height: 48px;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 80px;
        .col {
          width: calc(50% - 20px);
          display: flex;
          flex-wrap: wrap;
          padding: 16px;
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 2;
            .flexBtn {
              button {
                background-color: #52d116;
              }
            }
          }
          &:nth-child(3) {
            order: 3;
          }
          &:nth-child(4) {
            order: 5;
          }
          &:nth-child(5) {
            order: 6;
            .flexBtn {
              button {
                background-color: #52d116;
              }
            }
          }
          &:nth-child(6) {
            order: 7;
          }
          &:nth-child(7) {
            order: 8;
          }
          &:nth-child(8) {
            order: 4;
            .flexTitle2 {
              order: 4 !important;
            }
            h6 {
              order: 5;
              margin-top: 0 !important;
              margin-left: 0 !important;
            }
            button {
              display: block;
              order: 6;
              padding: 0;
              border: none;
              font-weight: 500;
              font-size: 17px;
              line-height: 21px;
              background-color: transparent;
              color: $colorBlue;
            }
          }

          .starBox {
            order: 1 !important;
          }
          h2 {
            order: 3 !important;
          }
          .tabIphone {
            width: 140px !important;
            height: 152px !important;
            order: 2 !important;
            margin-left: 44px;
          }
          h3 {
            display: none;
          }
          .flexBtn {
            width: 100%;
            order: 5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 8px;
            button {
              display: block;
              display: flex;
              background: $colorBlue;
              margin-top: 0 !important;
              padding: 8px 8px 8px 9px;
              img {
                margin-left: 8px;
              }
            }
          }
          button {
            display: none;
          }
          .flexTitle {
            width: 100%;
            order: 4;
            p {
              font-size: 13px;
              line-height: 19px;
            }
          }
          .flexTitle2 {
            order: 6 !important;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 320px) {
  #bottomShoppingSection {
    padding: 24px 0;
    .container {
      h1 {
        font-size: 22px;
        line-height: 29px;
        margin-bottom: 40px;
      }
      p {
        font-size: 16px;
        line-height: 19px;
      }
      .row {
        display: block;
        padding: 0 10px;
        .col {
          width: 100% !important;
        }
      }
    }
  }
}