#infoSection {
  padding: 40px 0;
  .container {
    h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
      color: $colorBlack;
      text-align: center;
    }
    .infoBox {
      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
        .col {
          width: calc(20% - 7.5px);
          height: 500px;
          background: linear-gradient(180.04deg, #fe94a6 0.04%, #f2f2f2 65.84%);
          border-radius: 16px;
          padding: 24px 4px 32px 4px;
          box-sizing: border-box !important;
          position: relative;
          &:nth-child(2) {
            background: linear-gradient(
              180.04deg,
              #e685ff 0.04%,
              #f2f2f2 65.84%
            );
            .cardBox {
              button {
                &:hover {
                  background: linear-gradient(
                    180.04deg,
                    #e685ff 0.04%,
                    #f2f2f2 65.84%
                  );
                }
              }
            }
          }
          &:nth-child(3) {
            background: linear-gradient(
              180.04deg,
              #7de9ff 0.04%,
              #f2f2f2 65.84%
            );
            .cardBox {
              button {
                &:hover {
                  background: linear-gradient(
                    180.04deg,
                    #7de9ff 0.04%,
                    #f2f2f2 65.84%
                  );
                }
              }
            }
          }
          &:nth-child(4) {
            background: linear-gradient(
              180.04deg,
              #ffe685 0.04%,
              #f7f7f7 65.84%
            );
            .cardBox {
              button {
                &:hover {
                  background: linear-gradient(
                    180.04deg,
                    #ffe685 0.04%,
                    #f7f7f7 65.84%
                  );
                }
              }
            }
          }
          &:nth-child(5) {
            background: linear-gradient(
                180.04deg,
                #adffc1 0.04%,
                #f2f2f2 65.84%
              ),
              #f2f2f2;
            .cardBox {
              button {
                &:hover {
                  background: linear-gradient(
                      180.04deg,
                      #adffc1 0.04%,
                      #f2f2f2 65.84%
                    ),
                    #f2f2f2;
                }
              }
            }
          }
          img {
            width: 160px;
            height: 160px;
            margin-left: 24px;
          }
          h2 {
            font-weight: 700;
            font-size: 23px;
            line-height: 29px;
            text-align: center;
            color: $colorBlack;
            margin-bottom: 16px;
            margin-top: 16px;
          }
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            color: #585656;
          }
          .cardBox {
            position: absolute;
            bottom: 32px;
            right: 4px;
            left: 4px;
            button {
              padding: 17px 60px;
              border: 1px solid $colorBlue;
              border-radius: 8px;
              color: $colorBlue;
              &:hover {
                background: linear-gradient(
                  180.04deg,
                  #fe94a6 0.04%,
                  #f2f2f2 65.84%
                );
              }
            }
          }
        }
      }
      .smBox {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #infoSection {
    .container {
      .infoBox {
        .row {
          display: flex;
          flex-wrap: wrap;
          .col {
            width: 100%;
            height: 158px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            padding: 24px;
            background: #f9f9f9 !important;
            margin-bottom: 8px;

            img {
              width: 64px;
              height: 64px;
            }
            .infoTitle {
              margin-left: 26px;
              h2 {
                margin-top: 0;
                margin-bottom: 8px;
                text-align: left;
              }
              p {
                text-align: left;
                padding-right: 14px;
              }
            }
            .cardBox {
              position: unset;
              margin-top: 25px;
            }
          }
        }
        .smBox {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  #infoSection {
    .container {
      h1 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 16px;
      }
      .infoBox {
        .row {
          display: none;
        }
        .smBox {
          width: 100%;
          height: 129px;
          display: block;
          background: #f9f9f9;
          border-radius: 16px;
          padding: 12px;
          margin-bottom: 12px;
          .smFlexbox {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            img {
              width: 32px;
              height: 32px;
              margin-right: 8px;
            }
            h1 {
              font-size: 20px;
              line-height: 24px;
              margin-bottom: 0 !important;
            }
          }
          p {
            font-weight: 400;
            font-size: 13px;
            line-height: 19px;
          }
        }
      }
    }
  }
}
